* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, orange, blue);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: blueviolet;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgb(10, 10, 9);
  margin-bottom: 10px;
}

.header h1 {
  color: aqua;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: rgb(244, 244, 60);
  background-color: rgb(57, 101, 201);
  border: 1px solid rgb(226, 226, 75);
  border-radius: 10px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(17, 39, 127);
  cursor: pointer;
}
.button-add:hover {
  color: rgb(226, 226, 75);
}
.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid pink;
  border-radius: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
  margin-top: -65px;
  padding: 5px;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: darkblue;
  opacity: 0.6;
}

.list {
  width: 220px;
  background-color: transparent;
  border: none;
  color: rgb(241, 230, 12);
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}
.img {
  width: 20px;
  height: 20px;
}
